.profile {
  background-color: var(--bgColor);
  border-radius: 12px;
  padding: 30px;
  position: relative;
}
.avatarWrap {
  display: flex;
  align-items: center;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.avatarRight {
  flex: 1;
  margin-left: 15px;
  min-width: 0;
}
.address {
  color: var(--fontColor);
  background-color: var(--cardBgColor);
  padding: 8px 11px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.addressDetail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  line-height: 14px;
  font-size: 12px;
}
.copyAddress {
  cursor: pointer;
  margin-left: 15px;
}
.iconWrap {
  margin-top: 20px;
}
.icon {
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
}
.icon:last-child {
  margin-right: 0;
}
.holdingWrap {
  display: flex;
}
.collection {
  background-color: var(--cardBgColor);
  border-radius: 12px;
  padding: 12px 20px 11px 20px;
  flex: 1;
}
.gap {
  width: 10px;
}
.title {
  font-size: 12px;
  line-height: 14px;
}
.number {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  margin-right: 5px;
}
.unit {
  font-size: 12px;
  font-weight: 700;
  color: var(--grey);
}

.profilePoint {
  padding-top: 20px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.holding {
  border: 2px solid var(--lightGrey);
  border-radius: 12px;
  padding: 13px 20px;
}
.corner {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  width: 45px;
  justify-content: space-between;
  align-items: center;
}
.cornerIcon {
  cursor: pointer;
}
