.wrap{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
.chart{
    flex: 1;
    display: flex;
}
.descWrap{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.col{
    width: 10px;
    height: 200px;
    border-radius: 6px;
    margin-right: 30px;
}
.col:last-child{
    margin-right: 0;
}
.skeletonCol{
    height: 100%;
    transform-origin: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    transform: unset;
}