.fire {
  position: absolute;
}

.fireCircle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-top: 2px solid #ffcc00;
  border-right: 2px solid var(--tertiaryColor);
  border-left: 2px solid var(--tertiaryColor);
  border-bottom: 2px solid #ffcc00;
  padding: 2.5px;
  animation: spin 10s infinite linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  100% {
    transform: rotate(2turn);
  }
}
