.main {
  width: 100%;
  flex: auto;
  background-color: var(--assetsBg);
  color: var(--fontColor);
  min-height: fit-content;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 600px) {
    align-items: center;
    flex-direction: column;
  }
}

.project {
  display: flex;
  flex-direction: column;
  width: 50%;
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.projectBox {
  margin-top: 36px;
  font-size: 20px;
  text-align: center;
}

.banner {
  width: 100%;
  border-radius: 12px;
  height: 300px;
}

.projectDescription {
  margin-top: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.projectTextBox {
  padding-right: 10px;
  padding-left: 10px;
  text-align: justify;
  word-wrap: break-word;
}

.mintInfo {
  padding-right: 10px;
  padding-left: 10px;
  text-align: justify;
  word-wrap: break-word;
  width: 55%;
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.projectText {
  padding: 12px;
}
