.collections {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--assetsBg);
  margin-bottom: 24px;
  min-height: 500px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  @media screen and (max-width: 1400px) {
    justify-content: center;
  }

  @media screen and (max-width: 600px) {
    margin-top: 24px;
  }
}

