.policyIdContainer {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: var(--lightGrey);
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }
}